---
title: Home
heading: 'Tender Years'
lead: A book by young author Anshuman Dubey!
---

	{{> home-banner }}
      <!-- Main -->
        <article id="main">

          <header class="special container">
            <span class="icon fa-book"></span>
            <h2>A profound <strong>book</strong> of poems
            <br />
            written by late master Anshuman Dubey</h2>
            <p>Anshuman passed away at the age of <strong>Sixteen</strong>. He was suffering from an incurable Neuro Muscular Disorder. This book is an expression of Anshuman's deep thoughts and feelings which he could not express in spoken words, as he was incapacitated for a long time. He kept his spirit burning to inspire and guide us to face and overcome all the unpredictable challenges of life courageously.
           </p>
          </header>

          <!-- One -->
            <section class="wrapper style2 container special-alt">
              <div class="row 50%">
                <div class="8u 12u(narrower)">

                  <header>
                    <h2>The Book  <strong>“TENDER YEAR'S”</strong> is a English translated version of “CHHOTI SI UMAR“.</h2>
                  </header>
                  <p>This Book is a part of libraries of most public schools across India. This is a testament to how many People were touched with his story.</p>
                  <p>This Book is a power to make us understand that if we read these poems and grasp the gravity, we can change our life. Highly Inspirational and Motivational.We are Confident that this Book will help many to change their life, irrespective of age.</p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="author.html" class="button">Find Out More</a></li>
                    </ul>
                  </footer>

                </div>
                <div class="4u 12u(narrower) important(narrower)">
                  <div class="image fit">
                    <img src="{{assets}}/images/tender-years-book.jpg" alt="book">
                  </div>
                 

                </div>
              </div>
            </section>

          <!-- Two -->
            <section class="wrapper style1 container special">
              <div class="row">
                <div class="4u 12u(narrower)">

                 
                  </section>

                </div>
              </div>
            </section>

          <!-- Three -->
            <section class="wrapper style3 container special">

              <header class="major">
                <h2><strong>A look Inside</strong></h2>
              </header>

              <div class="row">
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" class="image featured"><img src="http://www.wpclipart.com/education/books/books_1/open_book.png" alt="" /></a>
                    <header>
                      <h3></h3>
                    </header>
                    <p></p>
                  </section>

                </div>
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" alt="" /></a>
                    <header>
                      <h3>Life</h3>
                    </header>
                    <p>Life is the only time;
That you have to spend on Earth.
So commence your action now;
And make it worth.
Life is not always there;
It is not the question of life and death-
Because that rests in His hands;
But take a vow today, that in each moment of life-
You will feel cheer and gay!</p>
                  </section>

                </div>
              </div>
              <div class="row">
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" alt="" /></a>
                    <header>
                      <h3>Slight Age</h3>
                    </header>
                    <p>Under the shade of trees;
In the backyard
Playing with ease,
Those moments of mother’s love
And father’s affectionate hug,
How I would run carelessly
At one call of friends for fun.
When the curiosity arises;
The childhood unfolds yet a new leaf.</p>
                  </section>

                </div>
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" alt="" /></a>
                    <header>
                      <h3>Willpower</h3>
                    </header>
                    <p>Make your willpower so strong;
That, all difficulties shy away-
Let the confidence be your companion;
So that, any trouble what may come,
Is left, with no option.
Let your determination ripe;
And courage and strength join.
Fearlessly tread ahead-
And climb each rung of success,
With patient, grit instead.</p>
                  </section>

                </div>
              </div>

              <footer class="major">
                <ul class="buttons">
                  <li><a href="read-a-poem.html" class="button">See More</a></li>
                </ul>
              </footer>

            </section>

        </article>

      <!-- CTA -->
        <section id="cta">

          <header>
            <h2>Journey of an amazing <strong>16 year old?</strong></h2>
            <p>Interested in exploring more?</p>
          </header>
          <footer>
            <ul class="buttons">
              <li><a href="http://www.amazon.com/Tender-Years-CHHOTI-SI-UMAR-ebook/dp/B00JGNMEBU/ref=sr_1_fkmr0_1?ie=UTF8&qid=1446762731&sr=8-1-fkmr0&keywords=the+tender+years+choti+si+umar" class="button special">Buy Tender Years</a></li>
              <li><a href="author.html" class="button">About Author</a></li>
            </ul>
          </footer>

        </section>
