---
title: Home
heading: 'Tender Years'
lead: A book by young author Anshuman Dubey!
---

	{{> home-banner }}
      <!-- Main -->
        <article id="main">

          <header class="special container">
            <span class="icon fa-book"></span>
            <h2>A profound <strong>book</strong> of poems
            <br />
            written by late master Anshuman Dubey</h2>
            <p>Anshuman passed away at the age of <strong>Sixteen</strong>. He was suffering from an incurable Neuro Muscular Disorder. This book is an expression of Anshuman's deep thoughts and feelings which he could not express in spoken words, as he was incapacitated for a long time. He kept his spirit burning to inspire and guide us to face and overcome all the unpredictable challenges of life courageously.
           </p>
          </header>

          <!-- One -->
            <section class="wrapper style2 container special-alt">
              <div class="row 50%">
                <div class="8u 12u(narrower)">

                  <header>
                    <h2>The Book  <strong>“TENDER YEAR'S”</strong> is a English translated version of “CHHOTI SI UMAR“.</h2>
                  </header>
                  <p>This Book is a part of libraries of most public schools across India. This is a testament to how many People were touched with his story.</p>
                  <p>This Book is a power to make us understand that if we read these poems and grasp the gravity, we can change our life. Highly Inspirational and Motivational.We are Confident that this Book will help many to change their life, irrespective of age.</p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="#" class="button">Find Out More</a></li>
                    </ul>
                  </footer>

                </div>
                <div class="4u 12u(narrower) important(narrower)">
                  <div class="image fit">
                    <img src="{{assets}}/images/tender-years-book.jpg" alt="book">
                  </div>
                 

                </div>
              </div>
            </section>

          <!-- Two -->
            <section class="wrapper style1 container special">
              <div class="row">
                <div class="4u 12u(narrower)">

                  <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                      <h3>This is Something</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                  </section>

                </div>
                <div class="4u 12u(narrower)">

                  <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                      <h3>Also Something</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                  </section>

                </div>
                <div class="4u 12u(narrower)">

                  <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                      <h3>Probably Something</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                  </section>

                </div>
              </div>
            </section>

          <!-- Three -->
            <section class="wrapper style3 container special">

              <header class="major">
                <h2>Next look at this <strong>cool stuff</strong></h2>
              </header>

              <div class="row">
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                    <header>
                      <h3>A Really Fast Train</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  </section>

                </div>
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                    <header>
                      <h3>An Airport Terminal</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  </section>

                </div>
              </div>
              <div class="row">
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                    <header>
                      <h3>Hyperspace Travel</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  </section>

                </div>
                <div class="6u 12u(narrower)">

                  <section>
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                    <header>
                      <h3>And Another Train</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  </section>

                </div>
              </div>

              <footer class="major">
                <ul class="buttons">
                  <li><a href="#" class="button">See More</a></li>
                </ul>
              </footer>

            </section>

        </article>

      <!-- CTA -->
        <section id="cta">

          <header>
            <h2>Journey of an amazing <strong>16 year old?</strong></h2>
            <p>Interested in exploring more?</p>
          </header>
          <footer>
            <ul class="buttons">
              <li><a href="book-order.html" class="button special">Buy Tender Years</a></li>
              <li><a href="author.html" class="button">About Author</a></li>
            </ul>
          </footer>

        </section>
