life.hbs

---
title: Life
---


<!-- One -->
						<section class="wrapper style4 container">

							<div class="row 150%">
								<div class="8u 12u(narrower)">

									<!-- Content -->
										<div class="content">
											<section>
												
													<h2>Read a Poem</h2>
												</header>
												{{# markdown }}
<h3>Life by Anshuman Dubey</h3>


Life is the only time;

That you have to spend on Earth.

So commence your action now;

And make it worth.

Life is not always there;

It is not the question of life and death-

Because that rests in His hands;

But take a vow today, that in each moment of life-

You will feel cheer and gay!

Disappointment is not life;

So, don't live for just life's sake-

The goal of living is wihin;

Enjoy the nectar of inner spring.

Oh life, I have no complaints;

You are that passage, which is a new wave of bliss-

And when this is the way it is, nevertheless-

Then why say, it is colorless?

God has given you this amazing chance;

In form of life-

Show your immense potentials and worth.

God has bestowed you with;

His ocean of world-

Protected with your faith and trust.

It is important to know that;

Sorrow is your real companion-

Joy is but temporary and you are just a step,

Away from the eternal glory!









												{{/markdown}}
											</section>
										</div>

								</div>
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar"><section>
												<a href="#" class="image featured"><img src="http://www.soupforthesoul.co.in/wp-content/uploads/2015/02/childhood-sea.jpg" alt="" /></a>
												<header>
											<section>
												<header>
												
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer>
											</section>
										</div>
												
								</div>

							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>LIFE</h3>
										</header>
										<p>Life is the only time;<br>
										That you have to spend on Earth.<br>
										So commence your action now;<br>
										And make it worth.<br>
										Life is not always there;<br>
										It is not the question of life and death-<br>
										Because that rests in His hands;<br>
										But take a vow today, that in each moment of life-<br>
										You will feel cheer and gay!</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Slight Age</h3>
										</header>
										<p>Under the shade of trees;<br>
											In the backyard<br>
											Playing with ease,<br>
											Those moments of mother’s love<br>
											And father’s affectionate hug,<br>
											How I would run carelessly<br>
											At one call of friends for fun.<br>
											When the curiosity arises;<br>
											The childhood unfolds yet a new leaf.<br>
										</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>WILLPOWER</h3>
										</header>
										<p>Make your willpower so strong;<br>
										That, all difficulties shy away-<br>
										Let the confidence be your companion;<br>
										So that, any trouble what may come,<br>
										Is left, with no option.<br>
										Let your determination ripe;<br>
										And courage and strength join.<br>
										Fearlessly tread ahead-<br>
										And climb each rung of success,<br>
										With patient, grit instead.<br>
										</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>

				</article>