Poems.hbs

---
title: Read a Poem from the book Tender Years
section: book
---
<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-book"></span>
						<h2>Read a Poem from the book  <strong>Tender Years</strong></h2>
						<p>These are just a few of the amazing poems that were written by late master Anshuman Dubey</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								
										<header>
											<h3>Path Ways</h3>
										</header>
{{# markdown}}
The ups and downs of life

Are very strange! 

Sometimes – the distances appear long,

Somethings, short in the range.

To walk on new path

One just needs to be hopeful!

You will reach the goal – surely-

Just be cheerful!
 
The beauty of nature-

Is with you-on,

To help you, on the go,

Do not be afraid in the dark-

Slowly the night will pass,

Do not worry if you trip-

Through it does take time, to regain the grip
 
Take care of yourself-

And do not let your sight waver,

VIctory is there, in the heart to achieve,

See hat, right direction the life perceives.{{/ markdown}}
										<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan. </p>
										<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus, non hendrerit ipsum arcu tristique est.</p>
									</section>
								</div>

						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>

				</article>