<!-- Header -->
        <header id="header" class="{{#is basename 'index'}}alt{{/is}}">
          <h1 id="logo"><a href="index.html">Tender Years</a></h1>
          <nav id="nav">
            <ul>
              <li class="{{#is basename 'index'}}current{{/is}}"><a href="index.html">Home</a></li>
              <li class="submenu {{#contains basename 'book'}}current{{/contains}}">
                <a href="#">Book</a>
                <ul>
                  <li><a href="read-a-poem.html">Read a Poem</a></li>
                  <li><a href="book-review.html">Testimonials</a></li>
                  <li><a href="http://www.amazon.com/Tender-Years-CHHOTI-SI-UMAR-ebook/dp/B00JGNMEBU/ref=sr_1_fkmr0_1?ie=UTF8&qid=1446762731&sr=8-1-fkmr0&keywords=the+tender+years+choti+si+umar">Buy Now</a></li>
                </ul>
              </li>
              <li class="submenu {{#is basename 'author'}}current{{/is}}">
                <a href="#">Author</a>
                <ul>
                  <li><a href="author.html">His Story</a></li>
                  <li><a href="journey.html">Journey</a></li>
                
                 
                </ul>
               </li>
               <li class="{{#is basename 'contact'}}current{{/is}}"><a href="contact.html" >Contact</a></li>
            
                  <li><a href="form.html">Feedback</a></li>
                  
               {{#isnt basename 'index'}}
              <li><a href="http://www.amazon.com/Tender-Years-CHHOTI-SI-UMAR-ebook/dp/B00JGNMEBU/ref=sr_1_fkmr0_1?ie=UTF8&qid=1446762731&sr=8-1-fkmr0&keywords=the+tender+years+choti+si+umar" class="button special">Buy the Book</a></li>
              {{/isnt}}
            </ul>
          </nav>
        </header>