<!-- Banner -->
        <section id="banner">

          <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
          -->
          <div class="inner">

            <header>
              <h2 >Tender Years</h2>
            </header>
            <p>A <strong>Book of Poems</strong>
            
            <br />
            by Late Master Anshuman Dubey</p>
            <footer>
              <ul class="buttons horizontal">
                <li><a href="http://www.amazon.com/Tender-Years-CHHOTI-SI-UMAR-ebook/dp/B00JGNMEBU/ref=sr_1_fkmr0_1?ie=UTF8&qid=1446762731&sr=8-1-fkmr0&keywords=the+tender+years+choti+si+umar" class="button fit scrolly">Buy the Book</a></li>
                 <li><a href="author.html" class="button fit scrolly">About Author</a></li>
              </ul>
            </footer>

          </div>

        </section>